.ui.middle.aligned.selection.list {
  display: blcok;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.content-text {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .ui.divided.list {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
}
